.EditorCore-frame {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
  outline: 2px solid orangered;
}

.EditorCore-HMD-wrapper {
  min-height: 100%;
  max-width: 868px;
  min-width: 420px;
  margin: 0px auto;
}
