.SideBarElement {
  border-radius: 3px;
  height: 28px;
  line-height: 28px;
  transition: 150ms;
  background-color: rgba(0, 0, 0, 0);
  min-width: max-content;
  max-width: 100%;
  padding-right: 5px;
}

.SideBarElement:hover {
  background-color: rgba(0, 0, 0, 0.1);
}