.UserProfile-userImage {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}

.UserProfile-userImage-LogoutIcon {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.UserProfile-userImage-LogoutIcon:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.3);
}

.UserProfile-userName {
  margin-left: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  display: inline-block;
}